body{
    /* width: 700px; */
    /* border: 1px solid; */
    /* border-width: 2px;
    border-top: none;
    border-left: none;
    border-bottom: none; */
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
h1{
font-family: 'Pinyon Script', cursive;
font-size: 100px;
/* font-weight: 10px; */
font-style: italic;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 10px;
padding-bottom: 0px;
text-align: right;
}

.small{
font-family: 'Pinyon Script', cursive;
font-size: 30px;
/* font-weight: 300; */
font-style: italic;
margin-top: 0px;
/* margin-left: auto;
margin-right: auto; */
/* padding-left: 320px;
padding-right: 50px; */
padding-top: 0px;
padding-bottom: 0px;
text-align: right;

}

p{
    
    font-size: 20px;
    /* font-weight: 200; */
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.big{
    max-width: 400px;
    /* height: 600px; */
margin-left: auto;
margin-right: auto;
margin-top: 200px;
margin-bottom: 200px;

}
